//SASS VARIABLES
$chartSelectorButton: #0275d8;

/*#region TAG SPECIFIC CSS*/

p{
  margin: 0px 0px 0px 0px;
}

canvas{
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  //background-color: white;
}

body, html{
  width: 100%;
  height: 100%;
}

/*#endregion*/

/*#region CHART SPECIFIC CSS*/ 

.chartWrapper {
  //background-color: red;
  position: relative;
  left: 2.5%;
  //right: 2.5%;
  width: 95%;
  height: 80%;
  //margin-top: 10px;
}

.chartWrapper > canvas {
  //background-color: red;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  pointer-events: none !important;
}

.chartAreaWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  //background-color: blue;
}

.chartAreaWrapper2{
  position: relative;
  width: 100%; //change this to show scolling behaviour
  height: 98%;
  //background-color: rgba(255,255,255,0.75);
}

.chartAreaWrapper2 > canvas{
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  //pointer-events: none !important;
}

.chartButton{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: black;
  font-family: Arial;
  font-size: 1em;
  background-color: white;
  opacity: 0.7;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-decoration: none;
  text-align: center;
  margin: 5px 5px 5px 5px;
  width: 150px;
  height: 35px;
}
  
.chartButton:hover{
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.chartButton:active{
  background-color: green;
}

/*#endregion*/

/*#region OVERLAY CSS*/

#filterWrapper{
  //width: 100%;
  height: 40px;
  //margin-top: 40px;
  //background-color: grey;
}

.magBtnWrapper{
  margin-right: 80px;
  height: 100%;
}

.magBtn{
  height: 100%;
  width: 50px;
  margin-right: 10px;
}

#DetailView{
  display: none;
  background-image: url("../../assets/Images/bgMain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 95%;
  width: 95%;
  position: fixed; /* Stay in place */
  //z-index: 2; /* Sit on top */
  left: 2.5%;
  top: 2.5%;

  overflow: hidden; /* Disable scrolling */
  margin: 0; 
  padding:0;

  border-bottom-style: outset;
  border-left-style: outset;
  border-right-style: outset;
  border-top-style: outset;
}

#mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: black;
}

.btnGroup{
  //background-color: red;
  text-align: center;
  //width: 100%;
}



#CloseButtonContainer{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  width: 100%;
  margin-top: 5px;
}

/*#endregion*/

/*#region DASHBOARD CSS*/

#TitleBar{
  background-image: url('../../assets/Images/bgTitleBar1cropped.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-style: outset !important;
}

#TitleBox{
  background-color: white;
  opacity: 0.7;
  text-align: center;
  font-size: 2.5em;
  border-style: solid;
  border-color: black;
  border-radius: 1px;
}

#SubTitleBox{
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 1px;
  opacity: 0.7;
  text-align: center;
  margin: auto;
  height: 30px;
}

#SubTitleBox > p{
  width: calc(100%/3);
}

#nextReadingText{
  padding-right: 10px;
  text-align: right !important;
}
 
.SubTitle{
  font-size: 1em;
  margin: auto;
}

.headingRow{
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  //background-color: red;
}

// .row{
//   padding: 0;
//   margin: 0;
// }

.container{
  height: 100%;
}

.readingsRow{
  //height: 40% !important; //dont set this as is screws up stacking on small screens.
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  //background-color: pink;
}
 
.ParameterContainer{
  background-color: black;
  margin-top: 5px;
  //height: 100px !important;
}
 
.ParameterTitle{
  height: 25px;
  width: 100%;
  font-size: 1em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-top-style: outset;
  border-left-style: outset;
  border-right-style: outset;
}
 
.ParameterValue:hover{
  background-color: lightgray !important;
}
 
.ParameterValue{
  height: 86% !important;
  width: 100%;
  //padding-bottom: 20px !important;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-bottom-style: outset;
  border-left-style: outset;
  border-right-style: outset;

} 

.ParameterValue > canvas{
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.ParameterValue:hover{
  background: red;
}

.readingText{
  color: black;
}

.bubbleText{
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2em;
}

/*#endregion*/


