@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


/* You can add global styles to this file, and also import other style files */
/* line 1, /Users/rossco/Desktop/Web Development/HydroWatchMockups/css/styles.scss */
html, body{
  overscroll-behavior: none;
  height: 100%;
  width: 100%;
}

  
  /* line 6, /Users/rossco/Desktop/Web Development/HydroWatchMockups/css/styles.scss */
body {
  background-image: url("./assets/Images/bgMain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
  
//MEDIA QUERIES
@include media-breakpoint-down(md) {
  //#DetailView{
    //transform: rotate(-90deg);
    //transform-origin: top left;
    // position: absolute;
    // top: 100%;
    // left: 0;
    // height: 95%;
    // width: 95%;
  //}
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  #DetailView {
    transform: rotate(-90deg);
    // transform-origin: left top;
    // width: 100vh;
    // overflow-x: hidden;
    // position: absolute;
    // top: 100%;
    // left: 0;
  }
}

//ADJUST PARAMETER VALUE FONT-SIZES BASED ON SCREEN SIZE
@include media-breakpoint-only(xs) {
  .bubbleText {
    font-size: 1.5em !important;
  }
  html, body{
    overflow: auto !important;
  }
  #nextReadingText{
    font-size: 0.9em;
  }

  .ParameterContainer{
    height: 200px !important;
    margin-bottom: 5px !important;

  }

  .ParameterValue{
    //height: 100% !important;
    width: 100% !important;
    padding: 5px !important;
  }
}

@include media-breakpoint-only(sm) {
  .bubbleText {
    font-size: 3em !important;
  }
}

@include media-breakpoint-only(md) {
  .bubbleText {
    font-size: 1.8em !important;
  }
}

@include media-breakpoint-only(lg) {
  .bubbleText {
    font-size: 2.2em !important;
  }
}

@include media-breakpoint-only(xl) {
  .bubbleText {
    font-size: 2.5em !important;
  }
}

@include media-breakpoint-up(xl) {
  .bubbleText {
    font-size: 2.5em !important;
  }
}