@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


/* You can add global styles to this file, and also import other style files */
/* line 1, /Users/rossco/Desktop/Web Development/HydroWatchMockups/css/styles.scss */
html, body{
  overscroll-behavior: none;
  height: 100%;
  width: 100%;
}

  
  /* line 6, /Users/rossco/Desktop/Web Development/HydroWatchMockups/css/styles.scss */
body {
  background-image: url("./assets/Images/bgMain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
  
//MEDIA QUERIES
@include media-breakpoint-down(md) {
  #DetailView {
    transform: rotate(-90deg);
  }
}

//ADJUST PARAMETER VALUE FONT-SIZES BASED ON SCREEN SIZE
@include media-breakpoint-only(xs) {
  .bubbleText {
    font-size: 2em !important;
  }
  html, body{
    overflow: auto !important;
  }
}

@include media-breakpoint-only(sm) {
  .bubbleText {
    font-size: 0.8em !important;
  }
}

@include media-breakpoint-only(md) {
  .bubbleText {
    font-size: 1.1em !important;
  }
}

@include media-breakpoint-only(lg) {
  .bubbleText {
    font-size: 1.6em !important;
  }
}

@include media-breakpoint-only(xl) {
  .bubbleText {
    font-size: 2em !important;
  }
}

@include media-breakpoint-up(xl) {
  .bubbleText {
    font-size: 3vw !important;
  }
}